.DS_Store
.AppleDouble
.LSOverride
azure.err
iisnode.yml

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
node_modules/

## Bower ##
client/lib/react
client/lib/jquery
client/lib/lodash
client/lib/underscore

# Floobits
.floo
.floobit
.floo
.flooignore
