body{

}

.app {
  background-color: red;
  width: 100px;
  height: 100px;
}

#missions {

}

.single-mission {

}

#game-phase {

}

#proposal-phase {

}

#mission-phase {

}

#assasination-phase {

}

#game-over {
  
}